* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(pattern.png);
}

header {
    margin: 0 auto;
    align-content: center;
}

h1 {
    align-content: center;
    color: #4b1e3d;
}

.main {
    background: #ec8fd052;
    width: 1000px;
    height: 640px;
    margin: auto;
    position: relative;
    padding: 10px;
}

.main-station {
    background: whitesmoke;
    width: 930px;
    height: 230px;
    margin: auto;
    position: relative;
    padding: 2px;
}

.main-station-id {
    background: #4b1e3d;
    width: 900px;
    height: 40px;
    margin: auto;
    margin-top: 5px;
    position: relative;
    padding: 10px;
    color: whitesmoke;
    font-weight: bold;
}

.total {
    background: #b82e8a;
    width: 850px;
    height: 50px;
    margin: auto;
    margin-top: 15px;
    position: relative;
    padding: 10px;
    font-weight: normal;    
}

.free {
    background: #cccc00;
    width: 850px;
    height: 50px;
    margin: auto;
    margin-top: 10px;
    position: relative;
    padding: 10px;    
    font-weight: normal;
    color: #4b1e3d;
}

.booked {
    background: #ccc;
    width: 850px;
    height: 50px;
    margin: auto;
    margin-top: 10px;
    position: relative;
    padding: 10px;    
    font-weight: normal;
    color: #4b1e3d;
}

#total-no{
    font-style: italic;
    color: wheat;
}
#free-no{
    font-style: italic;
}
#booked-no{
    font-style: italic;
}

/* 
.main-station {
    background: #ec8fd02f;
    width: 970px;
    height: 605px;
    margin: auto;
    position: relative;
}

.main-station-id{
    background: whitesmoke;
    width: 930px;
    height: 200px;
    margin: auto;
    position: relative;
    padding: 20px;
} */
