* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(pattern.png);
}

header {
    margin: 0 auto;
    align-content: center;
}

h1 {
    align-content: center;
    color: #4b1e3d;
    align-content: center;
}

.station
.address
.total
.booked
.free {
    display: block;
    float: left;
}

.station {
    background: #ec8fd052;
    width: 80%;
    height: 100%;
    margin: auto;
    position: relative;
    padding: 10px;
}

.address {
    background: #4b1e3d;
    width: 350px;
    height: 50px;
    margin: auto;
    position: relative;
    padding: 15px;
    font-weight: bold;
    text-align: center; 
    color: wheat;
}

.total {
    background: #b82e8a;
    width: 350px;
    height: 50px;
    margin: auto;
    position: relative;
    padding: 10px;
    font-weight: normal;
    text-align: center;    
}

.free {
    background: #cccc00;
    width: 350px;
    height: 50px;
    margin: auto;
    position: relative;
    padding: 10px;    
    font-weight: normal;
    color: #4b1e3d;
    text-align: center;
}

.booked {
    background: #ccc;
    width: 350px;
    height: 50px;
    margin: auto;
    position: relative;
    padding: 10px;    
    font-weight: normal;
    color: #4b1e3d;
    text-align: center;
}

#total-no{
    font-style: italic;
    color: wheat;
}
#free-no{
    font-style: italic;
}
#booked-no{
    font-style: italic;
}
