body {
    background: url(pattern.png);
}

header{
    background: #ec8fd0;
    padding: 10px;
}

header > h1 {
    align-content: center;
    color: #4b1e3d;
    text-align: center;
}

.station {
    display: grid;
    grid-gap: 15px; 
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-auto-flow: dense;
    
}
.stationName {
  width: 450px;
  height: 180px;
  /* background-color: #ec8fd0; */
  background: linear-gradient(#ec8fd0ab,#b82e8aa8);
  border-radius: 6px;
  padding: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
  text-align: center;
  color:  #4b1e3d; 
  font-weight: bold; 
}

.address {
    background: #4b1e3d;
    margin: auto;
    margin-top: 5px;
    position: relative;
    padding: 10px;
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
}

.total {
    background: #b82e8a;
    margin: auto;
    /* margin-top: 15px; */
    position: relative;
    padding: 10px;
    font-weight: normal;
    text-align: center; 
    color: whitesmoke;   
}

.free {
    background: #cccc00;
    margin: auto;
    /* margin-top: 10px; */
    position: relative;
    padding: 10px;    
    font-weight: normal;
    color: #4b1e3d;
    text-align: center;
}

.booked {
    background: #ccc;
    margin: auto;
    /* margin-top: 10px; */
    position: relative;
    padding: 10px;    
    font-weight: normal;
    color: #4b1e3d;
    text-align: center;
}

#total-no{
    font-style: italic;
    color: wheat;
}
#free-no{
    font-style: italic;
}
#booked-no{
    font-style: italic;
}

#searchForm {
    color: #4b1e3d;
    text-align: center;
    margin-top: 15px;
}

.btn-default {
    background-color: #b82e8a;
    color: whitesmoke;
    width: 75px;
    height: 25px;
    text-align: center;
    margin-top: 15px; 
    font-weight: bold;
}

.form-control {
    width: 230px;
    border:  solid #ec8fd0 ;
    text-align: center;
}